ipython
langchain_community
langchain
langchain_chroma
chainlit
ctransformers
sentence-transformers
pypdf
jupyter-core
langsmith
tokenizers==0.15.2
tdqm
ppft
#--extra-index-url https://download.pytorch.org/whl/cu118
#torch
#torchvision 
#torchaudio
